* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    background-color: white;
    height: 78px;
    line-height: 78px;
}

img{
    vertical-align: middle;
    margin-left: 25px;
}

nav{
    background-color: white;
    font-size: 12px;
    height: 50px;
    width: 60%;
    margin: auto;
    margin-top: 42px;
    padding-left: 54px;
    padding-bottom: 0;
    padding-top: 8px;
}

main{
    background-color: white;
    height: 600px;
    width: 60%;
    margin: auto;
    padding: 50px;
    padding-top: 27px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 42px;
}
h3{
    display: inline-block;
}

.list{
    margin-top: 20px;
    color: rgb(73, 72, 72);
}

.check{
    color: rgb(100, 192, 169);
    border: 1px solid rgb(100, 192, 169);
    font-size: small;
    padding: 3px;
    border-radius: 50%;
    margin-right: 6px;
}

.cross{
    color: red;
    border: 1px solid red;
    font-size: small;
    padding: 3px;
    border-radius: 50%;
    margin-right: 6px;
}

.editorial{
    color: white;
    background-color: rgb(71, 173, 241);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.q1-goals{
    color: white;
    background-color: rgb(156, 114, 228);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.recruiting{
    color: white;
    background-color: rgb(100, 192, 169);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.mobile{
    color: white;
    background-color: rgb(242, 158, 51);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.website{
    color: white;
    background-color: rgb(216, 98, 161);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.sales{
    color: white;
    background-color: rgb(174, 199, 35);
    font-size: 10px;
    padding: 8px;
    margin: 6px 2px 6px;
    border-radius: 12px;
}

.task-editorial{
    padding: 10px;
}

.task-q1{
    padding: 10px;
}

.task-recruiting{
    padding: 10px;
}

.task-mobile{
    padding: 10px;
}

.task-website{
    padding: 10px;
}

.task-sales{
    padding: 10px;
}

.task-noname{
    padding: 10px;
}

#add-task{
    color: white;
    background-color: rgb(71, 173, 241);
    padding: 6px;
    margin: 9px 2px 9px;
    border-radius: 5px;
    display: inline-block;
}

#add-section{
    color: lightgray;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 6px;
    margin: 9px 2px 9px;
    border-radius: 5px;
    display: inline-block;
}

#fake-hr{
    height: 1px;
    background-color: #b2b5b7;
    width: 60%;
    margin: auto;
}